:root {
  --dark: hsl(240, 17%, 17%);
  --light: hsl(30, 100%, 97%);
  --primary: hsl(270, 40%, 67%);
  --primary-dark: hsl(270, 40%, 64%);
  --primary-darker: hsl(270, 40%, 60%);
  --primary-darkest: hsl(270, 25%, 50%);
  --secondary: hsl(120, 12%, 60%);
  /* --warning: hsl(12, 92%, 60%); */
}

body {
  display: grid;
  grid: auto 1fr / none;
  column-gap: 1rem;
  margin: 1rem;
  background: var(--dark);
  font-size: 14pt;
  color: var(--light);
}

@media screen and (min-width: 992px) {
  body {
    grid: none / auto 1fr;
  }
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-dark);
}

.globalNav,
.globalNav__list {
  display: flex;
  flex-flow: column nowrap;
}

.globalNav {
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.globalNav__list,
.globalNav__iconList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.5rem;
}

.globalNav__list {
  row-gap: 0.5rem;
  column-gap: 1.5em;
}

.globalNav__iconList > li {
  display: inline-block;
  width: 1.875rem;
  margin-inline: 0.25rem;
}

@media screen and (min-width: 576px) {
  .globalNav,
  .globalNav__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .globalNav,
  .globalNav__list {
    flex-direction: column;
  }

.globalNav__link {
  display: block;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
}

.globalNav__link:hover {
  background: var(--primary-darkest);
  color: var(--light);
}
