* {
  box-sizing: border-box;
}

:root {
  --dark: hsl(240, 17%, 17%);
  --dark-dark: hsl(240, 17%, 12%);
  --light: hsl(30, 100%, 97%);
  --primary: hsl(270, 40%, 67%);
  --primary-dark: hsl(270, 40%, 64%);
  --primary-darker: hsl(270, 40%, 60%);
  --primary-darkest: hsl(270, 25%, 50%);
  --secondary: hsl(120, 12%, 60%);
  /* --warning: hsl(12, 92%, 60%); */

  --font-family-sans-serif: -apple-system, 'Segoe UI', 'Roboto', 'Noto Sans',
    'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  margin: 0;
  grid: auto 1fr / none;
  column-gap: 1rem;

  background: var(--dark);
  color: var(--light);
  font-family: var(--font-family-sans-serif);
  font-size: 14pt;
}

@media screen and (min-width: 992px) {
  body {
    grid: none / auto 1fr;
  }
}

body > header {
  padding: 1rem;
  background: var(--dark-dark);
  font-family: 'Montserrat Alternates', var(--font-family-sans-serif);
}

body > main {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
}

a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-dark);
}
a:active {
  color: var(--primary-darker);
}

.globalNav,
.globalNav__list {
  display: flex;
  flex-flow: column nowrap;
}

.globalNav {
  row-gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.globalNav__list,
.globalNav__iconList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}

.globalNav__list {
  gap: 0.5rem 1.5rem;
}

.globalNav__iconList > li {
  display: inline-block;
  margin-inline: 0.5rem;
  width: 1.875rem;
}

@media screen and (min-width: 576px) {
  .globalNav,
  .globalNav__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .globalNav,
  .globalNav__list {
    flex-direction: column;
  }

  .globalNav {
    padding: 1rem;
  }
}

.globalNav__link {
  display: block;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.globalNav__link:hover {
  background: var(--primary-darkest);
  color: var(--light);
}
