<section class="projectCard">
  <picture class="projectCard__imgContainer">
    <source type="image/webp" srcset="{{ project.data.img.srcWebp }}" />
    <img
      class="projectCard__img"
      src="{{ project.data.img.srcJpeg }}"
      alt="{{ project.data.img.alt }}"
    />
  </picture>
  <div class="projectCard__body">
    <h2>{{ project.data.title }}</h2>
    {{ project.templateContent | safe -}}
    <p class="projectCard__linkContainer">
      <a href="{{ project.data.url }}">Visit {{ project.title}}</a>
    </p>
  </div>
</section>
