---
title: Danny Scally
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/styles.css' | url }}" />
    <script
      src="https://kit.fontawesome.com/33b33f7630.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ '/js/index.js' | url }}" type="module"></script>
  </head>
  <body>
    <header>
      <nav class="globalNav collapse" id="globalNav">
        <ul class="globalNav__list">
          <li>
            <a href="{{ '/' | url }}" class="globalNav__link"
              >&nbsp;<span class="fa-solid fa-house-chimney"></span>&nbsp;</a
            >
          </li>
          <li>
            <a href="{{ '/about' | url }}" class="globalNav__link">About Me</a>
          </li>
          <li>
            <a href="{{ '/portfolio' | url }}" class="globalNav__link"
              >Portfolio</a
            >
          </li>
          <li>
            <a href="{{ '/contact' | url }}" class="globalNav__link">Contact</a>
          </li>
        </ul>
        <ul class="globalNav__iconList">
          <li>
            <a href=""><span class="fa-brands fa-github fa-lg"></span></a>
          </li>
          <li>
            <a href=""><span class="fa-brands fa-linkedin fa-lg"></span></a>
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="globalNavHamburger js-toggle-collapse"
        data-target="#globalNav"
      >
        <span class="fa-solid fa-bars fa-lg"></span>
      </button>
    </header>
    <main>{{ content | safe -}}</main>
  </body>
</html>
