body {
  display: grid;
  margin: 0;
  min-height: 100vh;
  grid: auto 1fr / none;

  background: var(--dark);
  color: var(--light);
}

body > header {
  padding: 1rem;
  text-align: center;
  background: var(--dark-dark);
  font-family: 'Montserrat Alternates', var(--font-family-sans-serif);
}

body > main {
  margin: calc(4rem / 3) 2rem;
  position: relative;
}

@media screen and (min-width: 1000px) {
  body {
    grid: none / auto 1fr;
  }
}

@media screen and (min-width: 1400px) {
  body > header {
    padding: 2rem 1rem;
  }
}

.globalNav,
.globalNav__list {
  display: flex;
  flex-flow: column nowrap;
}

.globalNav {
  gap: 1.25rem 1.75rem;
  align-items: center;
  justify-content: space-between;
}

.globalNav__list,
.globalNav__iconList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: calc(4rem / 3);
  white-space: nowrap;
}

.globalNav__list {
  gap: 0.5rem 1.5rem;
}

.globalNav__iconList > li {
  display: inline-block;
  margin: 0rem 0.5rem;
  width: 1.875rem;
}

.globalNav__link {
  display: block;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
.globalNav__link:hover {
  background: var(--primary-darkest);
  color: var(--light);
}

@media screen and (min-width: 750px) {
  .globalNav,
  .globalNav__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .globalNav,
  .globalNav__list {
    flex-direction: column;
  }

  .globalNav {
    padding: 1rem;
    row-gap: 1.75rem;
  }
}

@media screen and (min-width: 1400px) {
  .globalNav__list,
  .globalNav__iconList {
    font-size: 1.5rem;
  }

  .globalNav__list {
    row-gap: 1rem;
  }

  .globalNav__iconList > li {
    margin: 0rem 0.75rem;
  }
}

.globalNavHamburger {
  border: none;
  background: transparent;
  color: var(--primary);
  cursor: pointer;
  font-size: calc(4rem / 3);
}
.globalNavHamburger:hover {
  color: var(--primary-dark);
}
.globalNavHamburger:active {
  color: var(--primary-darker);
}

.collapse {
  transition: max-height 0.5s ease, margin 0.2s ease;
  overflow: hidden;
  max-height: 0;
  margin-block-end: 0;
}
.show {
  max-height: 200vh;
  margin-block-end: 1.5rem;
}

@media screen and (min-width: 750px) {
  .globalNavHamburger {
    display: none;
  }

  .collapse {
    max-height: revert;
    margin-block-end: revert;
  }
}
