.portfolio {
  margin-block-start: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 1400px) {
  .portfolio {
    margin-block-start: 1.25rem;
    gap: 1.75rem;
  }
}
