---
permalink: styles.css
---

{%- include "css/variables.css" -%}

{%- include "css/base.css" -%}

{%- include "css/layout.css" -%}

{%- include "css/pages/home.css" -%}
{%- include "css/pages/portfolio.css" -%}

{%- include "css/components/project-card.css" -%}
